# Editor config.
.vscode/

# Python Compiles files.
*.pyc

# Virtual Environment files.
.pyenv
.virtualenv
env
.venv

# mypy cache files for type-checking.
.mypy_cache

# Bazel
bazel-bin
bazel-experiments
bazel-genfiles
bazel-out
bazel-testlogs
