# Directories to save model checkpoints
runs/
model/*
saved_models/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment directory
env/

# Don't version control data: this is the directory where data is downloaded to.
local_data/

# Temporary directory for hacking stuff in
tmp/

# Comet API key
comet_api_key.txt
